apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: k3s-spring-hap
  namespace: k3s
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: k3s-spring
  minReplicas: 2
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80